body {
	background-image: url("../src/assets/img/bg.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align-last: right;
	margin-right: 60px;
	font-weight: bold;
}

.App {
	text-align: center;
	width: 100%;
	margin-top: 80px;
}

.search-box {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-wrapper {
	margin-left: 20px;
}

.output {
	color: rgb(0, 0, 0);
	text-align-last: center;
}
